name: release

on:
  workflow_dispatch:

  push:
    tags:
      - 'v*'

jobs:
  build_extensions:
    name: 构建浏览器扩展
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 8

      - uses: actions/setup-node@v4
        with:
          node-version: '22.5.1'
          cache: 'pnpm'
      - run: pnpm install

      - run: pnpm build:chrome
      - run: pnpm build:edge
      - run: pnpm build:firefox

      - run: zip -r chrome-extension.zip src-chrome/
      - run: zip -r edge-extension.zip src-edge/
      - run: zip -r firefox-extension.zip src-firefox/

      - uses: martinbeentjes/npm-get-version-action@v1.3.1
        id: package-version

      - uses: ncipollo/release-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: true
          prerelease: false
          tag: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          artifacts: |
            chrome-extension.zip
            edge-extension.zip
            firefox-extension.zip
          body: |
            ## 变更日志
            ## 如何使用 es-client
            ### 浏览器扩展
            * [Chrome 扩展 .zip](https://github.com/${{ github.repository }}/releases/download/${{ github.ref_name }}/chrome-extension.zip)
            * [Edge 扩展 .zip](https://github.com/${{ github.repository }}/releases/download/${{ github.ref_name }}/edge-extension.zip)
            * [Firefox 扩展 .zip](https://github.com/${{ github.repository }}/releases/download/${{ github.ref_name }}/firefox-extension.zip)
            * [Google Chrome](https://chromewebstore.google.com/detail/es-client/pkhmgepniefdigphghbolofjgbnhnhfd)
            * [Mozilla Firefox](https://addons.mozilla.org/zh-CN/firefox/addon/es-client/)
            * [Microsoft Edge](https://microsoftedge.microsoft.com/addons/detail/esclient/aonamamifdfigcflbeokdndfappnmogo)
            ### 其他方式
            * [uTools插件](https://u.tools/plugins/detail/es-client/)
            * [主页](https://es-client.esion.xyz)
